<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BFPushFly</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0B3589400B49344F2D820ACD4FA457A60862EAB3</string>
				<key>dateExpires</key>
				<string>2023/9/23</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.network.server</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PushFly.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>69XHTLCF36</string>
				<key>name</key>
				<string>Hengcong Weng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
